body {
  font-family: 'Roboto', sans-serif;
}

nav ul{
  background: rgb(61, 140, 215);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.cart-info {
  position: absolute;
  right: 1rem;
}

.brand {
  margin: 1rem;
}

.brand img {
  
  height: 10rem;
}

.brand h1 {
  color: rgb(61, 140, 215);
  display: inline-block;
  font-size: 4rem;
  width: 30%;
  font-weight: bold;
}

main {
  display: flex;
  width: 100%;
  margin: 1rem;
}

aside {
  width: 25%;
  padding-right: 1rem;
}

aside form * {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

aside form label {
  font-weight: bold;
  font-size: 1.2rem;
}

aside input[type="submit"] {
  background: rgb(61, 140, 215);
  border: rgb(61, 140, 215);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0.4rem;
}